/* Override react-live Editor pre element to prevent line wrapping */
.prism-code {
        white-space: pre !important;
        overflow-x: auto !important;
}

.playgroundPreview canvas {
        width: 256px;
        height: 256px;
}
